@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes glowPulse {
  0% {
    opacity: 0.25;
    transform: translate(0, 0) scale(1);
  }
  50% {
    opacity: 0.55;
    transform: translate(20px, -20px) scale(1.05);
  }
  100% {
    opacity: 0.25;
    transform: translate(0, 0) scale(1);
  }
}

.glow-1 {
  animation: glowPulse 12s ease-in-out infinite;
}

.glow-2 {
  animation: glowPulse 16s ease-in-out infinite;
}

.glow-3 {
  animation: glowPulse 20s ease-in-out infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
